* {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-drag: none;
  box-sizing: border-box;
}

body {
  background: #fff;
  padding: 32px 20px 24px;
  min-width: 280px;
  min-height: 280px;
  max-height: 457px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: #222;
}

label {
  font-size: 0.833rem;
  line-height: 1.6;
  display: block;
  color: #616161;
}

input {
  width: 100%;
  max-width: 100%;
  padding: 7px 11px;
  font-size: 1rem;
  box-shadow: rgba(10, 10, 10, 0.05) 0px 1px 2px 0px inset;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  outline: none;

  &:focus {
    box-shadow: rgba(238, 66, 102, 0.25) 0px 0px 0px 2px;
    border-color: #ee4266;
  }
}

.burgerMenu-button {
  background: none;
  border: none;
  cursor: pointer;

  i {
    font-size: 0;
    display: block;
    -webkit-mask: url("../assets/images/burger-menu-icon.svg");
    mask: url("../assets/images/burger-menu-icon.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 20px;
    height: 20px;
    background: #ee4266;
  }

  &:hover i {
    background: #d13a5a;
  }
}

.burgerMenu {
  background: #fff;
  border: none;
  position: fixed;
  top: 75px;
  left: 0;
  width: 80%;
  height: calc(100% - 75px);
  z-index: 10;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.2s;
  display: block;
  padding: 24px;

  &[open] {
    transform: translateX(0);
  }

  li {
    list-style: none;
  }

  a {
    font-size: 14px;
    color: #ee4266;
    text-decoration: none;

    &:hover {
      color: #d13a5a;
    }
  }

  li + li {
    margin-top: 20px;
  }
}

.burgerMenu[open] + .burgerMenu-backdrop {
  opacity: 0.1;
  pointer-events: all;
}

.burgerMenu-backdrop {
  width: 100%;
  height: calc(100% - 75px);
  top: 75px;
  position: fixed;
  background: #000;
  opacity: 0;
  left: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.logo {
  align-self: center;
}

.githubIcon {
  i {
    display: block;
    font-size: 0;
    -webkit-mask: url("../assets/images/github-icon.svg");
    mask: url("../assets/images/github-icon.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 28px;
    height: 28px;
    background: #dbdbdb;
    transition: background-color 0.2s;
  }

  &:hover i {
    background: #c1c1c1;
  }

  &:active i {
    background: #dfdfdf;
  }
}

.content {
  display: none;

  &.isVisible {
    display: block;
  }
}

.u-spaceBottom {
  margin-bottom: 12px;
}

.u-spaceBottom-small {
  margin-bottom: 8px;
}

.mainButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
  position: relative;

  &.isPlaying {
    .playButton {
      display: none;
    }
    .stopButton {
      display: block;
    }
  }

  &.isCounting {
    .playButton,
    .stopButton {
      pointer-events: none;
      &::after {
        opacity: 0;
      }
    }
    .counter {
      display: block;
    }
  }
}

.counter {
  display: none;
  position: absolute;
  font-weight: bold;
  font-size: 24px;
  top: 16px;
  color: #ee4266;
}

.playButton,
.stopButton {
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: 0.694rem;
  color: #616161;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    padding: 12px;
    transition: background-color 0.2s, border-color 0.2s;
  }

  &::before {
    border-radius: 50%;
    border: 6px solid #ee4266;
    margin-bottom: 4px;
  }

  &::after {
    position: absolute;
    top: 6px;
    left: 6px;
    background: #ee4266;
  }

  &:hover {
    &::before {
      border-color: #d13a5a;
    }
    &::after {
      background: #d13a5a;
    }
  }

  &:active {
    &::before {
      border-color: #f05575;
    }
    &::after {
      background: #f05575;
    }
  }
}

.playButton {
  &::after {
    -webkite-mask: url("../assets/images/play-icon.svg") no-repeat;
    mask: url("../assets/images/play-icon.svg") no-repeat;
    -webkit-mask-position: calc(50% + 1px) 50%;
    mask-position: calc(50% + 1px) 50%;
  }
}

.stopButton {
  display: none;

  &::after {
    -webkite-mask: url("../assets/images/stop-icon.svg") no-repeat;
    mask: url("../assets/images/stop-icon.svg") no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 6px;
  background: #ee4266;
  color: #fff;
  border: none;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;

  &:hover {
    background: #d13a5a;
  }
}

.empty {
  margin: 20px 0;
}

.savedVideosList {
  margin-top: 28px;
  overflow-y: auto;
  max-height: 350px;
  left: -6px;
  position: relative;

  li {
    list-style: none;
  }

  a {
    display: flex;
    gap: 12px;
    text-decoration: none;
    align-items: center;
    position: relative;
    padding: 6px 8px;
    border-radius: 6px;

    &:hover {
      background: #f5f5f5;
    }
  }

  p {
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  span {
    display: block;
    font-size: 10px;
    color: #616161;
    margin-top: 4px;
  }

  img {
    width: 80px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 6px;
    align-self: center;
  }

  button {
    border: none;
    color: #ee4266;
    background: transparent;
    margin-top: 6px;
    cursor: pointer;
    display: block;
    padding: 4px 6px;
    border: 1px solid #ee4266;
    border-radius: 6px;
    margin-left: auto;
    margin-right: 0;
    font-size: 10px;

    &:hover {
      background: #ee4266;
      color: #fff;
    }
  }

  &:empty + .empty {
    display: block;
  }

  &:not(:empty) + .empty {
    display: none;
  }
}
